<mat-icon>bookmark</mat-icon>
<div>
    <p>Карточка № {{ card._id | slice: 0:4 }}</p>
    <p>Описание: {{ card.description }}</p>
</div>
<div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editCard(card)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="removeCard(card)">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
        </button>
    </mat-menu>
</div>
