<div fxLayout="row" fxLayoutAlign="space-evenly stretch " class="user-info">
  <div fxFlex="100%" class="user-info_card">
    <div>
      <span>Address</span>
      <button mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-evenly stretch ">
          <mat-form-field fxFlex="100%">
            <mat-label>Street</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between stretch ">
          <mat-form-field fxFlex="30%">
            <mat-label>City</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field fxFlex="30%">
            <mat-label>State</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field fxFlex="30%">
            <mat-label>Zip code</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
    <div class="adress-btn">
      <button mat-raised-button color="primary" (click)="saveOrUpdateAddress()">Primary</button>
    </div>
  </div>
</div>