<div fxLayout="row" fxLayoutAlign="space-evenly stretch ">

  <div [ngClass]="'board-column'" fxFlex="25">
    <h3>Backlog</h3>
    <div
      cdkDropList
      [id]="'backlog'"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)" >
      <div class="example-box" *ngFor="let card of todo" cdkDrag>{{card.description}}</div>
    </div>
    <div>
      <button mat-button>
        <mat-icon>add</mat-icon>
      </button>
      <span> Add another card</span>
    </div>
  </div>
  <div [ngClass]="'board-column'" fxFlex="25">
    <h3>In Progress</h3>
    <div
      cdkDropList
      [id]="'inprogress'"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inprogress"
      [cdkDropListConnectedTo]="[qaList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let card of inprogress " cdkDrag>{{card.description}}</div>
    </div>
  </div>
  <div [ngClass]="'board-column'" fxFlex="25">
    <h3>QA</h3>
    <div
      cdkDropList
      #qaList="cdkDropList"
      [id]="'qa'"
      [cdkDropListData]="qa"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let card of qa " cdkDrag>{{card.description}}</div>
    </div>
  </div>
  <div [ngClass]="'board-column'" fxFlex="25">
    <h3>Done</h3>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [id]="'done'"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList,qaList,inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let card of done " cdkDrag>{{card.description}}</div>
    </div>
  </div>
</div>
