<form (submit)="onSubmit(f.value)" #f="ngForm">
    <span>Change password</span>
    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch ">
            <div fxFlex="100%">
                <mat-form-field>
                    <mat-label>Old password</mat-label>
                    <input matInput ngModel required type="password" name="oldPass" appOldPassValidator #o="ngModel" />
                    <mat-error *ngIf="o.errors">
                        <span *ngFor="let error of o.errors | keyvalue">{{ error.key }}</span></mat-error
                    >
                </mat-form-field>
            </div>
            <div fxFlex="100%" ngModelGroup="password" appEqualValidator #p="ngModelGroup">
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <mat-error *ngIf="p.errors">
                        <span *ngFor="let error of p.errors | keyvalue">{{ error.key }}</span></mat-error
                    >
                    <input matInput required minlength="5" name="password" ngModel type="password" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm new password</mat-label>
                    <input matInput required minlength="5" name="cpassword" ngModel type="password" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid || f.pending">
                    Save
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>
